.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.desktopImage {
  display: block;
}

.mobileImage {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(21, 21, 21, 0.50) 0%, #151515 91.31%);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  text-align: left;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
}

.title {

color: #FFF;
font-family: Montserrat;
font-size: 70px;
font-style: normal;
font-weight: 700;
line-height: 70px; /* 100% */
letter-spacing: 1.4px;
margin-bottom: 1rem;
}

.highlight {
  color: var(--primary-red);
}

.subtitle {
color: #FFF;
leading-trim: both;
text-edge: cap;
text-shadow: 0 0 10px #000;
font-family: Montserrat;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: 36.4px; /* 80.889% */
letter-spacing: 1.1px;;
  margin-bottom: 2.5rem;
}

@media (min-width: 769px) and (max-width: 1100px) {
  .content {
    padding: 0 1.5rem;
  }
}

.highlightNumber {
  color: var(--primary-red);
  font-weight: 600;
}

.searchBox {

border-radius: 7px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.05);
backdrop-filter: blur(5px);

  position: relative;
  display: flex;
  gap: 0;
  max-width: 700px;
  margin: 0 0 2rem 0;
  padding: 0.5rem;
}

.searchInput {
color: #FFF;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

  flex: 1;
  padding: 1rem 1.5rem;
  background: transparent;
  border: none;
  outline: none;
}

.searchInput:first-child {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.searchInput::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.searchBtn {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 0 1.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.searchBtn:hover {
  color: var(--primary-red);
}

.description {
  color: rgba(255, 255, 255, 0.70);
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 29.25px; /* 162.5% */
  margin-bottom: 2.5rem;
}

.postJobBtn {

color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 30px; 

background: linear-gradient(180deg, #FE0032 0%, #98001E 100%);

  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
  max-height: 50px;
  display: flex;
  align-items: center;
}

.postJobBtn:hover {
  transform: scale(1.1);
}

.break-line-hero {
  display: block;
}

@media (max-width: 768px) {
  .overlay{
    background: unset;
  }
  .desktopImage {
    display: none;
  }

  .mobileImage {
    display: block;
  }
  .mobileImage {
  width: 100%;
  height: auto!important;
  object-fit: cover;
}

  .break-line-hero {
    display: none !important;
  }

  .postJobBtn{
    display: inline-flex;
padding: 11.25px 20.844px 10.75px 21px;
justify-content: center;
align-items: center;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 25.5px; /* 150% */  }

.searchInput::placeholder{
  color: #626262;
font-family: Montserrat;
font-size: 15px!important;
font-style: normal;
font-weight: 400!important;
line-height: normal;
}

  .title {
  color: #FFF;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: 0.64px;
  }
  
  .subtitle {
  color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px; /* 150% */
letter-spacing: 1.17px;
  }
  .description{
    color: rgba(255, 255, 255, 0.70);
font-family: Montserrat;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 24.375px; /* 162.5% */


  }
  .searchBox{
    border-radius: 7px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.05);
box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.30) inset;
backdrop-filter: blur(4px);
  }
 
  
  .searchBox {
    flex-direction: column;
    gap: 0;
    max-width: 100%;
    padding: 0;
  }
  
  .searchInput {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .searchInput:first-child {
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }

  .searchInput:last-of-type {
    border-bottom: none;
  }

  .searchBtn {
    position: absolute;
    right: 0.5rem;
    top: 0rem;
    padding: 1rem;
  }
  
  .content {
    padding: 1rem;
    position: relative;
  }
}


@media (min-width: 769px) and (max-width: 1500px) {
 .content{
    padding: 0 2.5rem;
 }
   .content{
    padding-top: 8rem;
   }
}

@media (min-width: 769px) and (max-width: 1100px) {
    .content{
    padding: 0 1.5rem!important;
 }
 .title{
  font-size: 50px;
 }
  }